<footer>
	<div class="row">
		<div class="small-12 medium-12 large-12 column">
			<div class="hr hr-add-fifty"> </div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-4 large-4 column">
			<div class="row">
				<div class="small-12 column">
					<div class="footer-heading">
						<p>MY STORY</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column">
					<p class="details-p">
						Vestibulum blandit molestie fringilla. Curabitur eu velit nulla. Duis sed nibh ex. Vivamus tempus elit rutrum finibus gravida.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column">
					<div class="hr"></div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-4 large-4 column">
			<div class="row">
				<div class="small-12 column">
					<div class="footer-heading">
						<p>YOUR STORY</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column">
					<p class="details-p">
						Vestibulum blandit molestie fringilla. Curabitur eu velit nulla. Duis sed nibh ex. Vivamus tempus elit rutrum finibus gravida.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column">
					<div class="hr"></div>
				</div>
			</div>
			
		</div>
		<div class="small-12 medium-4 large-4 column">
			<div class="row">
				<div class="small-12 column">
					<div class="footer-heading">
						<p>OUR STORY</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column">
					<p class="details-p">
						Vestibulum blandit molestie fringilla. Curabitur eu velit nulla. Duis sed nibh ex. Vivamus tempus elit rutrum finibus gravida.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column">
					<div class="hr"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="add-bottom-fifty"></div>
	<div class="row">
		<div class="small-12 column">
			<div class="footer-images">
				<div class="follow-me-button-border">
					<a href="#" class="follow-me-button"> FOLLOW ME </a>
				</div>	
				<%= image_tag("footer-arrow.png", class: "footer-arrow") %>
			</div>
		</div>
		<div class="small-12 column">
			<div class="bottom-footer">
				<span class="copyright">
				---------- Graphics by @SunRise Theme. Developed by Shane Farrar.   ----------
				</span>
			</div>
		</div>
	</div>
</footer>