<footer>
	<div class="row">
		<div class="small-12 medium-12 large-12 column">
			<div class="hr hr-add-fifty"> </div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-4 large-4 column">
			<div class="row">
				<div class="small-12 column">
					<div class="footer-heading">
						<p>MY STORY</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column">
					<p class="details-p">
						Vestibulum blandit molestie fringilla. Curabitur eu velit nulla. Duis sed nibh ex. Vivamus tempus elit rutrum finibus gravida.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column">
					<div class="hr"></div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-4 large-4 column">
			<div class="row">
				<div class="small-12 column">
					<div class="footer-heading">
						<p>MY STORY</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column">
					<p class="details-p">
						Vestibulum blandit molestie fringilla. Curabitur eu velit nulla. Duis sed nibh ex. Vivamus tempus elit rutrum finibus gravida.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column">
					<div class="hr"></div>
				</div>
			</div>
			
		</div>
		<div class="small-12 medium-4 large-4 column">
			<div class="row">
				<div class="small-12 column">
					<div class="footer-heading">
						<p>MY STORY</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column">
					<p class="details-p">
						Vestibulum blandit molestie fringilla. Curabitur eu velit nulla. Duis sed nibh ex. Vivamus tempus elit rutrum finibus gravida.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column">
					<div class="hr"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="add-bottom-fifty"></div>
</footer>